<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Gnucash</string>
	<key>CFBundleGetInfoString</key>
	<string>Gnucash version 2.4.11 © 2012 Gnucash Contributors</string>
	<key>CFBundleIconFile</key>
	<string>gnucash.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.gnucash.Gnucash</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>2.4.11 © 2012 Gnucash Contributers</string>
	<key>CFBundleName</key>
	<string>Gnucash</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.11</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.4.11</string>
	<key>CFBundleDocumentTypes</key>
	<array>
	  <dict>
	    <key>CFBundleTypeName</key>
	    <string>Gnucash Document</string>
	    <key>CFBundleTypeExtensions</key>
	    <array>
	      <string>gnucash</string>
	    </array>
	    <key>CFBundlieTypeIconFile</key>
	    <string>gnucash.icns</string>
	    <key>CFBundleTypeRole</key>
	    <string>Editor</string>
	  </dict>
	  <dict>
	    <key>CFBundleTypeName</key>
	    <string>Gnucash Import/Export</string>
	    <key>CFBundleTypeExtensions</key>
	    <array>
	      <string>qif</string>
	      <string>ofx</string>
	      <string>txf</string>
	    </array>
	    <key>CFBundlieTypeIconFile</key>
	    <string>gnucash.icns</string>
	    <key>CFBundleTypeRole</key>
	    <string>Viewer</string>
	  </dict>
	</array>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2012 Gnucash Contributors</string>
</dict>
</plist>
